@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body{
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 40px;

}
.timer{
    position: absolute;
    right: 2px;
    width: 35px;
    height: 35px;
    font-size: 25px;
    border: 2px solid #75B79E;
    color: #75B79E;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: #75B79E;
    font-size: 56px;
    font-weight: bold;
}
main{
    width: 75%;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

img{
    width: 100px;
    height: 100px;
}
.card{
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #99CEA8;
    cursor: pointer;
    margin: 10px;
}
.face {
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }
.frontCard {
    transform: rotateY(180deg);
  }

.effectFrontCard {
    transform: rotateY(0deg);
}

.effectBackCard {
    transform: rotateY(-180deg);
}
@media (max-width: 574px) {
    h1{
        font-size: 36px;
        word-break: keep-all;
    }
    main{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    main > div{
        flex-direction: column;
    }
    .timer{
        top: 50px;
    }
}
